.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }


body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
h1 {
    font-size: 2em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
  .alignCenter {
    text-align: center;
  }
  
  .alignRight {
    text-align: right;
  }
  
  .centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


/*Link Color Changes */
  a:hover {
    text-decoration: none;
    color: green;
  }

  