
/*------------------------Navigation Bar------------------------*/
/* Navbar Itself*/
.navbar {
    overflow: hidden;
    background-color: #F2C4ce;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Titles in Navbar */
  .navbar a {
    float: right;
    display: block;
    color: #4F4F51;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
  }
  /* The Left Justified Title (Solymar)*/
  .navbarname{
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
  }
  
  /* Button Hover */
  .navbar a:hover {
    background: #4F4F51;
    color: #F2C4ce;
  }
  
  .main {
    padding: 16px;
    margin-top: 35px;
    height: 1500px; /* Used in this example to enable scrolling */
  }

/*------------------------Main CSS Styling------------------------*/
html{
  background-color: white;
}

article {
  display: block;
  float: center;
  margin-left: 32em;
  padding: 2em;
}

body {
    margin-left: 0em;
    margin-top: 6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
h1 {
    font-size: 3em;
    text-align: left;
    font-weight: 700;
    color: #F58F7C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
h2 {
  font-weight: 100;
  font-style: italic;
  color:#4F4F51;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  color: #4F4F51;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
  float: left;
  margin-left: 7em;
  margin-top: 3em;
  width: 25%;
}


/*Link Color Changes */
a {
  color: #F58F7C;
}  

a:hover {
    text-decoration: underline;
    color: #F2C4ce;
  }

a:visited {
  color: #4F4F51;
}


  