body {
  max-width: 800px;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 40px;
}

h1 {
  font-size: 2em;
  text-align: center;
}


.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}