body {
  max-width: 800px;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 40px;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.3em;
}
