
/*------------------------Main CSS Styling------------------------*/
html{
  background-color: white;
}

/*------------------------Grid Function------------------------*/
.grid {
  margin: 0 2rem;
  padding: 3rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7rem;
}
article{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}

img{
  max-width: 400px;
  padding-top: 2em;
  padding-left: 5em;
}
div
{
    font-size: large;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button
{
    font-size: x-large;
}

/*------------------------Text Formating------------------------*/
body {
    margin-left: 0em;
    margin-top: 6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
h1 {
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    color: #F58F7C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
h2 {
  font-weight: 100;
  font-style: italic;
  color:#4F4F51;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  color: #4F4F51;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}

hr{
  border: none;
  border-top: 0.5em dotted #F58F7C;
  width: 40em;
  margin-left: 0em;
}


/*------------------------Link Color Changes------------------------*/
a {
  color: #F58F7C;
}  

a:hover {
    text-decoration: underline;
    color: #F2C4ce;
  }

a:visited {
  color: #4F4F51;
}

  
